.welcome-page {
    background-color: #4751C0;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.welcome-page__title {
    color: #fff;
    font-size: 45px;
    font-weight: 700;
    margin: 0;
    text-align: center;
}

.welcome-page__title-name {
    display: block;
}

.welcome-page__settings {
    text-align: center;
}

.welcome-page__logo {
    max-width: 440px;
}

.striped-circle {
    position: absolute;
    bottom: -7%;
    height: 230px;
 
}

.start-spot-left {
    position: absolute;
    top: 0%;
    width: 130px;
    height: auto;
}

.striped-pink-right {
    position: absolute;
    top: 5%;
    right: 0;
    height: 360px;
    width: auto;
}

.start-spot-right {
    position: absolute;
    width: auto;
    height: 400px;
    bottom: -15%;
    right: 0;
}



@media(max-width: 768px) {
    .welcome-page__logo {
        max-width: 400px;
    }
}

@media(max-width: 480px) {
    .welcome-page__logo {
        max-width: 320px;
        height: auto;
        margin-bottom: 30px;
    }

    .level,
    .amount__header {
        width: 320px;
    }

    .welcome-page__title {
        font-size: 28px;
    }

    .level__field {
        width: 320px;
    }

    .amount__field {
        width: 270px;
    }

    .striped-circle {
        height: 84px;
    }

    .start-spot-left {
        height: 290px;
        width: auto;
    }

    .striped-pink-right {
        height: 215px;
    }

    .start-spot-right {
        height: 225px;
    }
}
