.question {
    max-width: 90%;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.choice-button {
    background: #424A9E;
    border: 2px solid #4953BE;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    width: 330px;
    height: 60px;
    border-radius: 14px;
    margin-bottom: 30px;
}

.choice-button--variant {
    border: 2px solid #4953BE;
    background-color: #fff;
    color: #4953BE;
}

.question__text,
.question__level-title,
.question__category-title,
.questions__number {
    color: #4953BE;
}

.question__level-title {
    letter-spacing: 0.5em;
    font-size: 20px;
}

.question__category-title {
    font-size: 65px;
    margin: 0 auto;
    width: 50%;
    letter-spacing: 0.3rem;
}

.question__text {
    font-size: 30px;
}

.question__index {
    color: #FF7878;
    font-size: 25px;
}

.answers-block {
    display: flex;
    align-items: center;
    flex-flow: column;
    padding-top: 20px;
}

.question-striped-spot {
    position: absolute;
    bottom: 0;
    width: auto;
}

.question-elipse-left {
    position: absolute;
    top: 0;
    height: 255px;
    width: auto;
}

.question-pink-spot {
    position: absolute;
    bottom: 0;
    right: 0;
    width: auto;
}

.question-elipse-right {
    position: absolute;
    right: 0;
    top: 5%;
    height: 365px;
    width: auto;
}

@media(max-width: 1024px) {
    .question__category-title {
        font-size: 40px;
        line-height: 44px;
    }

    .question__text {
        font-size: 25px;
    }
}

@media(max-width: 480px) {
    .question__category-title {
        font-size: 30px;
        line-height: 33px;
        width: 100%;
    }

    .question__text {
        font-size: 25px;
    }

    .question-elipse-left {
        height: 140px;
        top: -70px;
    }

    .question-striped-spot {
        height: 140px;
    }

    .question-elipse-right {
        height: 210px;
    }

    .question-pink-spot {
        height: 65px;
    }

    .choice-button,
    .choice-button-variant {
        width: 340px;
    }
}