@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.main-page {
  font-family: 'Quicksand', sans-serif;
  height: 100vh;
}